input:focus, input:active {
    outline: none !important
}

@font-face {
    font-family: 'SBSansDisplay';
    src: url("fonts/sbsansdisplay/SBSansDisplay-Light.eot");
    src: url("fonts/sbsansdisplay/SBSansDisplay-Light.eot?#iefix") format("embedded-opentype"), url("fonts/sbsansdisplay/SBSansDisplay-Light.svg#SBSansDisplay-Light") format("svg"), url("fonts/sbsansdisplay/SBSansDisplay-Light.ttf") format("truetype"), url("fonts/sbsansdisplay/SBSansDisplay-Light.woff") format("woff"), url("fonts/sbsansdisplay/SBSansDisplay-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'SBSansDisplay';
    src: url("fonts/sbsansdisplay/SBSansDisplay-Regular.eot");
    src: url("fonts/sbsansdisplay/SBSansDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/sbsansdisplay/SBSansDisplay-Regular.svg#SBSansDisplay-Regular") format("svg"), url("fonts/sbsansdisplay/SBSansDisplay-Regular.ttf") format("truetype"), url("fonts/sbsansdisplay/SBSansDisplay-Regular.woff") format("woff"), url("fonts/sbsansdisplay/SBSansDisplay-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'SBSansDisplay';
    src: url("fonts/sbsansdisplay/SBSansDisplay-Semibold.eot");
    src: url("fonts/sbsansdisplay/SBSansDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("fonts/sbsansdisplay/SBSansDisplay-Semibold.svg#SBSansDisplay-Semibold") format("svg"), url("fonts/sbsansdisplay/SBSansDisplay-Semibold.ttf") format("truetype"), url("fonts/sbsansdisplay/SBSansDisplay-Semibold.woff") format("woff"), url("fonts/sbsansdisplay/SBSansDisplay-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'SBSansDisplay';
    src: url("fonts/sbsansdisplay/SBSansDisplay-Thin.eot");
    src: url("fonts/sbsansdisplay/SBSansDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("fonts/sbsansdisplay/SBSansDisplay-Thin.svg#SBSansDisplay-Thin") format("svg"), url("fonts/sbsansdisplay/SBSansDisplay-Thin.ttf") format("truetype"), url("fonts/sbsansdisplay/SBSansDisplay-Thin.woff") format("woff"), url("fonts/sbsansdisplay/SBSansDisplay-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: 'SBSansDisplay';
    src: url("fonts/sbsansdisplay/SBSansDisplay-Bold.eot");
    src: url("fonts/sbsansdisplay/SBSansDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/sbsansdisplay/SBSansDisplay-Bold.svg#SBSansDisplay-Bold") format("svg"), url("fonts/sbsansdisplay/SBSansDisplay-Bold.ttf") format("truetype"), url("fonts/sbsansdisplay/SBSansDisplay-Bold.woff") format("woff"), url("fonts/sbsansdisplay/SBSansDisplay-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: 'SBSansText';
    src: url("fonts/sbsanstext/SBSansText-Bold.eot");
    src: url("fonts/sbsanstext/SBSansText-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/sbsanstext/SBSansText-Bold.svg#SBSansText-Bold") format("svg"), url("fonts/sbsanstext/SBSansText-Bold.ttf") format("truetype"), url("fonts/sbsanstext/SBSansText-Bold.woff") format("woff"), url("fonts/sbsanstext/SBSansText-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal; }

@font-face {
    font-family: 'SBSansText';
    src: url("fonts/sbsanstext/SBSansText-Light.eot");
    src: url("fonts/sbsanstext/SBSansText-Light.eot?#iefix") format("embedded-opentype"), url("fonts/sbsanstext/SBSansText-Light.svg#SBSansText-Light") format("svg"), url("fonts/sbsanstext/SBSansText-Light.ttf") format("truetype"), url("fonts/sbsanstext/SBSansText-Light.woff") format("woff"), url("fonts/sbsanstext/SBSansText-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal; }

@font-face {
    font-family: 'SBSansText';
    src: url("fonts/sbsanstext/SBSansText-Regular.eot");
    src: url("fonts/sbsanstext/SBSansText-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/sbsanstext/SBSansText-Regular.svg#SBSansText-Regular") format("svg"), url("fonts/sbsanstext/SBSansText-Regular.ttf") format("truetype"), url("fonts/sbsanstext/SBSansText-Regular.woff") format("woff"), url("fonts/sbsanstext/SBSansText-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'SBSansText';
    src: url("fonts/sbsanstext/SBSansText-Semibold.eot");
    src: url("fonts/sbsanstext/SBSansText-Semibold.eot?#iefix") format("embedded-opentype"), url("fonts/sbsanstext/SBSansText-Semibold.svg#SBSansText-Semibold") format("svg"), url("fonts/sbsanstext/SBSansText-Semibold.ttf") format("truetype"), url("fonts/sbsanstext/SBSansText-Semibold.woff") format("woff"), url("fonts/sbsanstext/SBSansText-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal; }

@font-face {
    font-family: 'SBSansText';
    src: url("fonts/sbsanstext/SBSansText-Thin.eot");
    src: url("fonts/sbsanstext/SBSansText-Thin.eot?#iefix") format("embedded-opentype"), url("fonts/sbsanstext/SBSansText-Thin.svg#SBSansText-Thin") format("svg"), url("fonts/sbsanstext/SBSansText-Thin.ttf") format("truetype"), url("fonts/sbsanstext/SBSansText-Thin.woff") format("woff"), url("fonts/sbsanstext/SBSansText-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal; }

body {
    font-family: "SBSansText", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    color: #353F47;
    text-align: left;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

a {
    color: #D2D55F
}

.loader {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center
}

.work {
    opacity: 0;
    transition: opacity .5s ease
}

.spkPopupWr {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(255 255 255 / 50%);
    backdrop-filter: blur(12px);
    display: none
}

.popUpShow {
    display: block
}

.popUpTower {
    max-width: 800px;
    margin: 90px auto;
    height: calc(100% - 180px);
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 24px;
    padding: 48px;
    position: relative;
    box-shadow: 4px 6px 20px 1px rgba(0, 0, 0, 0.25)
}

.spkPopupTitle {
    display: flex;
    margin-bottom: 20px
}

.spkPopupNameWr {
    padding-left: 24px
}

.spkPopupNameWr .sbeakerPos {
    margin-top: 20px
}

.spkPopupBioWr {
    height: calc(100% - 160px);
    overflow-y: auto;
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    color: #353F47;
    text-align: left
}

.regAboutClose {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #D2D55F;
    display: flex;
    align-items: center;
    justify-content: center
}

.tower {
    max-width: 1366px;
    margin: 0 auto;
    position: relative
}

.visible {
    opacity: 1
}

.regForm {
    box-sizing: border-box;
    position: absolute;
    top: 150px;
    right: 120px;
    width: 450px;
    z-index: 1
}

.aboutFormButton {
    cursor: pointer;
    font-size: 32px;
    line-height: 37.76px;
    background-color: #D2D55F;
    color: white;
    border-radius: 6px;
    padding: 6px;
    width: max-content;
    box-shadow: 2px 8px 16px rgb(0 0 0 / 25%), -2px -8px 16px rgb(255 255 255 / 16%)
}

.aboutFormButton:hover {
    box-shadow: 2px 12px 16px rgb(0 0 0 / 25%), -2px -12px 16px rgb(255 255 255 / 16%)
}

.disclameir {
    background-color: #353F47;
    color: gray;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 8px
}

header {
    padding: 0;
    display: flex;
    align-items: center
}

.mainMenu {
    display: flex;
    margin-left: 80px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left
}

.mainLogo {
    cursor: pointer;
    position: absolute;
    top: 24px;
    left: 0
}

.mainLogo .multiTitle {
    width: 50%
}

.mainMenuItem {
    cursor: pointer;
    transition: color .5s ease
}

.mainMenuItem.active {
    color: #D2D55F;
    cursor: initial
}

.mainMenuItem {
    margin: 0 20px
}

.bumper {
    height: 230px;
    background-color: #EDECEC;
    background-image: url(/images/bg1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: left;
    background-position-y: top;
    width: 100%;
    position: relative;
    padding: 0 90px
}

.gradient {
    background: linear-gradient(90deg, #D1D645 6.32%, #EF3124 36.34%, #060606 65.83%, #1A1C41 101.12%);
    position: absolute;
    height: 15px;
    width: 100%;
    bottom: 0;
    left: 0
}

.mainTitle {
    margin: 64px 120px
}

h1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0;
    text-align: left;
    margin: 0;
    padding: 0
}

.mainDate {
    margin-top: 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #7C8288;
    position: relative
}

.mainDate span {
    margin-right: 1em
}

.regFormHeader {
    height: 79px;
    background-color: #D2D55F;
    border-radius: 32px 32px 0 0;
    display: flex;
    font-size: 24px;
    color: #ffffff;
    padding-left: 32px;
    align-items: center
}

.regFormHeaderShow {
    display: block
}

.regFormBody {
    padding: 32px;
    background: white;
    border-radius: 0 0 32px 32px;
    background: #FCFCFC;
    box-shadow: 2px 8px 32px rgba(108, 108, 108, 0.16), -2px -8px 24px rgba(255, 255, 255, 0.32)
}

.isLogin .regFormBody {
    height: 250px
}

.regInput {
    border: none;
    border-bottom: 1px solid #7C8288;
    background: #FCFCFC;
    width: 100%;
    padding: 8px 0;
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 10px;
    color: #7C8288;
    transition: color .5s ease
}

.regInput:focus, .regInput:active {
    color: #353F47
}

.regInputError {
    height: 1.5em;
    font-size: 12px;
    color: #FF6A59
}

.regInputErrorTitle {
    transition: opacity .5s ease;
    opacity: 0
}

.regInputErrorTitle.active {
    opacity: 1
}

.regInput::placeholder {
    color: #7C8288
}

.regBtn {
    width: 100%;
    font-size: 18px;
    color: white;
    background: #D2D55F;
    box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.25), -2px -8px 16px rgba(255, 255, 255, 0.16);
    border-radius: 100px;
    height: 48px;
    border: none;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .5s ease;
    cursor: pointer
}

.regPromiceText {
    font-size: 12px;
    color: #7C8288
}

.regBtn.disabled {
    background-color: rgba(210, 213, 95, 0.5);
    cursor: initial
}

.regPromice {
    font-size: 12px;
    color: #7C8288;
    margin-top: 22px;
    padding-left: 25px;
    position: relative;
    cursor: pointer
}

.regPromice:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-image: url("/images/box.svg");
    left: 0
}

.regPromice.active:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-image: url("/images/boxActive.svg");
    left: 0
}

.regPromice a {
    text-decoration: underline;
    font-weight: 800;
    cursor: pointer;
    color: #7C8288;
    position: relative
}

.aboutForm {
    margin: 64px 120px
}

.aboutFormTitle {
    margin-top: 120px;
    font-weight: 600;
    font-size: 32px;
    line-height: 37.76px;
    position: relative;
    margin-bottom: 1em
}

.aboutFormTitle:after {
    content: '';
    width: 161px;
    height: 8px;
    background-color: #D2D55F;
    border-radius: 4px;
    box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.25), -2px -8px 16px rgba(255, 255, 255, 0.16);
    position: absolute;
    left: 0;
    bottom: -1em
}

.aboutFormLid {
    margin-top: 64px;
    width: 50%;
    font-size: 16px;
    line-height: 28px
}

.aboutFormSubTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    margin-top: 32px
}

.aboutFormItems {
    margin-top: 32px
}

.aboutFormItem {
    font-size: 16px;
    line-height: 28px;
    padding-left: .75em;
    position: relative
}

.aboutFormItem:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #D2D55F;
    top: 10px;
    left: 0;
    position: absolute
}

footer {
    height: 112px;
    background-color: #353F47;
    display: flex;
    align-items: center;
    position: relative
}

.userRegComplite {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #7C8288
}

.googleCalButton {
    font-size: 18px;
    font-weight: 600;
    color: #7C8288;
    background: #ffffff;
    border-radius: 24px;
    height: 48px;
    border: none;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .5s frames();
    cursor: pointer;
    box-shadow: 2px 8px 32px rgba(108, 108, 108, 0.16), -2px -8px 24px rgba(255, 255, 255, 0.32);
    width: calc(50% - 20px)
}

.calendar {
    display: flex;
    justify-content: space-around
}

.toReg {
    font-weight: 800;
    text-decoration: underline;
    cursor: pointer
}

.loaderWr {
    position: relative;
    border-radius: 24px;
    border: 1px solid #D2D55F;
    overflow: hidden
}

@keyframes laod {
    0% {
        width: 0
    }
    50% {
        width: 100%
    }
    100% {
        width: 0
    }
}

.loader {
    background: #D2D55F;
    height: 48px;
    width: 0;
    position: relative;
    animation: laod 30s infinite;
    transition: width 15s
}

.loaderText {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #7C8288
}

.titleType {
    font-weight: 400
}

.regFormBody {
    max-height: 426px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 32px 24px;
    padding-top: 12px
}

.autoscroll {
    overflow-y: scroll;
    padding-top: 180px
}

.speakers {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
    padding-top: 48px
}

.speaker {
    flex-grow: 1;
    width: 33%;
    padding-right: 24px;
    box-sizing: border-box;
    cursor: pointer;
    padding-bottom: 48px
}

.speakerPhoto img {
    filter: grayscale(100%);
    border-radius: 24px;
    width: 160px;
    height: 160px
}

.sbeakerName {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    margin-top: 12px
}

.speakerPos {
    font-size: 14px;
    line-height: 22px;
    color: #7C8288;
    margin-top: 12px
}

.footerText {
    color: gray;
    position: absolute;
    left: 240px;
    top: 42px;
    line-height: 18px
}

footer .mainLogo {
    top: 42px
}

.adminMenu {
    height: 50px;
    background: gray;
    color: white;
    display: flex;
    font-size: 16px;
    align-items: center;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000
}

.adminMenuItems {
    display: flex
}

.aminMenuItem {
    margin-right: 20px;
    cursor: pointer
}

.aminMenuItem.active {
    color: #D2D55F
}

.adminMenuTitle {
    margin-right: 40px
}

.adminWr {
    margin-top: 60px;
    box-sizing: border-box;
    padding: 40px
}

.adminSectTitle {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 28px
}

.adminTd {
    border: 1px solid gray;
    border-top: 0;
    border-left: 0;
    padding: 4px;
    border-right: 0
}

.adminJsonTextArea {
    display: block;
    margin: 10px 0;
    padding: 4px;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    height: 300px
}

.adminJsonTextArea:focus, .adminJsonTextArea:active {
    outline: none
}

.adminSectBtn {
    cursor: pointer;
    padding: 4px 8px;
    color: #ffffff;
    background-color: #D2D55F;
    margin: 10px;
    width: max-content;
    border-radius: 8px
}

.mainLang {
    position: absolute;
    top: 24px;
    right: 80px
}

.mainLangItem {
    cursor: pointer;
    font-size: 18px
}

.mainLangItem.true {
    color: #D2D55F
}

.playerTitle {
    position: absolute;
    right: 0;
    left: 564px;
    top: 0
}

.playerTitle h1 {
    color: #353F47;
    width: 90%;
    font-size: 27px;
    line-height: 35px;
    font-family: "SBSansDisplay", Arial, sans-serif;
}

.playerTitle .mainDate {
    margin-top: 0;
    line-height: 56px;
    color: #353F47
}

.palyerWr {
    width: 100%
}

.playerHead {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    height: 80px;
    background-color: #FCFCFC;
    border-bottom: 1px solid #7C8288;
    position: relative
}

.playerCtrl {
    position: absolute;
    right: 0;
    width: calc(33% - 20px);
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box
}

.playerCtrlItem {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 2px solid transparent;
    padding-top: 0;
    height: calc(82%)
}

.playerCtrlItem.active {
    border-bottom: 2px solid #D2D55F;
    color: #D2D55F
}

.playerCtrlItem path {
    fill: #353F47
}

.playerCtrlItem.active path {
    fill: #D2D55F
}

.playerBody {
    display: flex
}

.playerObj {
    width: 67%
}

.playerChatBox {
    width: 33%
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0
}

.videoWrapper iframe, .videoWrapper video, .videoWrapper #my-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#my-video, #my-video video {
    border-radius: 4px
}

.playerTiming {
    font-size: 16px;
    line-height: 22px;
    padding: 24px
}

.playerTimingItem {
    display: flex;
    cursor: pointer;
    margin-bottom: 8px;
    align-items: center
}

.playerTimingItem.active {
    color: #D2D55F
}

.playerTimingItemTime {
    width: 5em;
    box-sizing: border-box;
    font-weight: bold
}

.playerTimingItemText {
    width: calc(100% - 5em);
    box-sizing: border-box;
    font-size: 14px;
    line-height: 16px
}

.playerTimingSubItem {
    margin-left: 2em;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 14px
}

.playerTimingItem span, playerTimingSubItem span {
    cursor: pointer;
    font-weight: bold;
    margin-right: 1em;
    width: 3em;
    text-align: right;
    display: inline-block
}

.playerChatWr {
    width: 100%;
    height: 100%
}

.playerChatPole {
    position: relative
}

.playerChatPoleWr {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 20px
}

.btn.playerChatSend {
    cursor: pointer
}

.playerChatInputForm {
    display: flex;
    align-items: center;
    background: #F1F0F0;
    position: relative
}

.playerChatInputFormLoaderWr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F1F0F0
}

.playerChatInputFormLoader {
    height: 100%;
    animation: laod 30s infinite;
    transition: width 15s;
    background-color: #D2D55F
}

.playerChatInputForm input {
    width: calc(100% - 60px);
    box-sizing: border-box;
    padding: 10px 10px;
    background: transparent;
    border: none;
    font-size: 16px;
    line-height: 20px;
    padding-left: 30px;
    color: #353F47
}

.btn.playerChatSend svg {
    width: 30px;
    margin-left: 10px;
    margin-top: 5px
}

.btn.playerChatSend path {
    fill: #D2D55F
}

.playerChatPole {
    height: calc(100% - 101px);;
    overflow-y: scroll;
    overflow-x: hidden
}

.playerChatItem {
    border-radius: 8px;
    background-color: rgba(210, 213, 95, 0.5);
    margin-bottom: 10px;
    padding: 10px
}

.playerChatTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 1em
}

.playerChatText {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    word-break: break-word
}

.playerChatDate {
    text-align: right
}

.mainContent.margin {
    min-height: 350px
}

.mainContent.player .mainTitle {
    display: none
}

.playerChatDate.btnWr {
    display: flex;
    justify-content: flex-end
}

.adminToQBtn {
    border: 1px solid white;
    padding: 4px;
    border-radius: 8px;
    color: #7C8288;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .5);
    transition: color .5s ease
}

.adminDeleteBtn {
    border: 1px solid white;
    padding: 4px;
    border-radius: 8px;
    color: #ff000082;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .5);
    transition: color .5s ease
}

.adminToQBtn:hover {
    color: #353F47
}

.adminDeleteBtn:hover {
    color: red
}

.adminSect .playerChatWr {
    height: calc(100vh - 140px)
}

.playerHead {
    display: none
}

.playerChatBox .playerCtrl {
    display: flex;
    height: auto;
    width: 100%;
    position: unset;
    box-sizing: border-box;
    padding: 0 20px
}

.goToReg {
    margin-top: 20px
}

.mainTitle {
    width: calc(100% - 690px)
}

.playerTitle h1 {
    padding-left: 70px;
    padding-top: 20px
}

.archiveTitle {
    margin: 24px 0;
    margin-top: 60px
}

.video-js .vjs-time-control {
    display: block
}

.video-js .vjs-current-time, .vjs-current-time {
    display: block !important
}

.video-js .vjs-remaining-time {
    display: none
}

footer .mainLogo {
    margin-left: 10px
}

#countDownTimer {
    position: absolute;
    bottom: 24px;
    left: 27px;
    font-size: 28px;
    line-height: 35px
}

@media (min-width: 1800px) {
    .regForm {
        width: calc(1366px / 2 - (48px * 2));
        right: calc((100% - 1366px) / 2 - 48px)
    }

    .mainTitle {
        margin: 64px 0
    }

    .aboutForm {
        margin: 64px 0
    }
}

@media (max-width: 1300px) {
    .playerTiming {
        padding: 24px 12px;
    }

    .regForm {
        right: 48px;
        top: 91px
    }

    .mainLogo {
        left: 40px
    }

    .regForm {
        position: static;
        width: 100%;
        max-width: 550px;
        margin: 0 auto
    }

    .regFormBody {
        height: auto;
        display: block
    }

    .mainTitle {
        margin: 64px 48px;
        width: inherit
    }

    .aboutFormTitle {
        margin-top: 48px
    }

    .aboutForm {
        margin: 48px 48px
    }

    .bumper {
        height: 170px
    }

    header .bumper {
        padding: 0
    }

    .playerTitle h1 {
        padding: 0
    }

    h1 {
        line-height: 42px;
        font-weight: 600;
        font-size: 32px
    }

    .playerTitle {
        display: none
    }

    .mainContent.player .mainTitle {
        display: block;
        margin: 48px 48px
    }

    .mainContent {
        min-height: auto !important
    }

    .autoscroll {
        padding-top: 0 !important
    }
}

@media (max-width: 980px) {
    #countDownTimer {
        top: inherit;
        bottom: 24px;
        left: 27px;
        font-size: 18px;
        line-height: 26px
    }

    .playerTimingSubItem {
        margin-left: 2em;
        margin-bottom: 8px;
        margin-top: 10px
    }

    .playerTimingItem span, playerTimingSubItem span {
        cursor: pointer;
        font-weight: bold;
        margin-right: 1em;
        width: 3em;
        text-align: right;
        display: block;
        margin-left: 0;
        text-align: left
    }

    .mainContent.player .mainTitle {
        margin: 26px
    }

    h1 {
        font-size: 24px;
        line-height: 28px
    }

    .aboutFormButton {
        margin-top: 0;
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 22px
    }

    .gradient {
        height: 6px
    }

    .mainLogo .multiTitle {
        width: 75%
    }

    .popUpTower {
        margin: 0 auto;
        width: 100%;
        height: 100vh;
        border-radius: 0;
        padding: 24px;
        box-shadow: none
    }

    .spkPopupTitle {
        display: block
    }

    .spkPopupNameWr {
        padding-left: 0
    }

    .spkPopupBioWr {
        height: calc(100% - 400px)
    }

    .bumper {
        height: 75px
    }

    .mainLogo {
        top: 20px;
        left: 14px
    }

    .mainLang {
        right: 20px
    }

    .mainTitle, .aboutForm {
        margin: 48px 24px
    }

    .mainDate {
        margin-top: 24px
    }

    .regFormHeader {
        height: 64px;
        font-size: 18px;
        line-height: 21px;
        display: flex !important
    }

    .regFormBody {
        padding: 12px;
        padding-bottom: 24px
    }

    .googleCalButton {
        font-size: 18px;
        line-height: 21px
    }

    .aboutFormTitle {
        margin-top: 0;
        font-size: 24px;
        line-height: 28px
    }

    .aboutFormTitle:after {
        height: 4px;
        bottom: -0.5em
    }

    .aboutFormLid {
        width: 100%;
        font-size: 16px;
        line-height: 28px;
        margin-top: 48px
    }

    .regBtn {
        margin-top: 40px
    }

    .speaker {
        width: 50%;
        cursor: pointer
    }

    .footerText {
        left: 160px;
        top: 16px
    }

    .playerBody {
        display: block
    }

    .playerObj {
        width: 100%
    }

    .playerChatBox {
        width: 100%;
        max-height: calc(100vh - 60px)
    }

    .playerChatPoleWr {
        padding: 20px 0
    }

    .playerHead {
        display: none
    }

    .playerBody .playerCtrl {
        display: flex;
        width: 100%;
        position: static
    }

    .playerChatBox .playerCtrl {
        display: none
    }

    .playerHead .playerCtrl {
        display: none
    }

    .playerChatPole {
        max-height: calc(100vh - 80px - 38px);
        margin-right: -20px;
        padding-right: 20px
    }

    .playerChatPoleWr {
        position: static
    }

    .playerCtrlItem {
        margin-top: 20px
    }

    .archiveTitle {
        margin-top: 48px;
        font-size: 18px;
        line-height: 22px
    }
}

@media (max-width: 650px) {
    .speaker {
        width: 100%
    }
}

@media (max-width: 550px) {
    .footerText {
        font-size: 10px;
        line-height: 16px;
        padding-right: 20px
    }
}

@media (max-width: 380px) {
    footer .mainLogo {
        display: none
    }

    .footerText {
        font-size: 10px;
        line-height: 16px;
        left: 20px
    }
}
